#######################################################
# Environment files for the overcloud deploy.
# ORDERING MATTERS(later files override earlier ones)
#######################################################
unset ENVIRONMENT_ARGS


#######################################################
# node-info.yml
#  - Node count
#  - Hostname mapping
#  - Static ip addressing 
#######################################################
ENVIRONMENT_ARGS="-e /home/stack/templates/node-info.yaml"


#######################################################
# Container Podman/Docker image related
#  - containers-prepare-parameter.yaml: Created during
#       undercloud install.  New way of working with
#       container images.
#  - container_overrides.yaml: Redhat creds for repo
#       access.    
#######################################################
ENVIRONMENT_ARGS="${ENVIRONMENT_ARGS} -e /home/stack/containers-prepare-parameter.yaml"
ENVIRONMENT_ARGS="${ENVIRONMENT_ARGS} -e /home/stack/templates/container_overrides.yaml"


#######################################################
# network-isolation.yaml
#   - Network separation.
#   - Without this everything goes on ironic prov net
#######################################################
ENVIRONMENT_ARGS="${ENVIRONMENT_ARGS} -e /usr/share/openstack-tripleo-heat-templates/environments/network-isolation.yaml"


#######################################################
# network-environment.yaml
#  - Define networks, gateways, vips, dns, neutron 
#    configs.
#  - Used in network isolation config templates
#######################################################
ENVIRONMENT_ARGS="${ENVIRONMENT_ARGS} -e /home/stack/templates/network-environment.yaml"


#######################################################
# docker-ha.yaml
#  - enable high availability of the controller services using pacemaker.
#  - https://docs.openstack.org/project-deploy-guide/tripleo-docs/latest/features/high_availability.html
#######################################################
ENVIRONMENT_ARGS="${ENVIRONMENT_ARGS} -e /usr/share/openstack-tripleo-heat-templates/environments/docker-ha.yaml"


#######################################################
# inject-trust-anchor-hiera.yaml
#   - Inject the undercloud CA certificate into the 
#     overcloud node trust.
#######################################################
ENVIRONMENT_ARGS="${ENVIRONMENT_ARGS} -e /home/stack/templates/inject-trust-anchor-hiera.yaml"

{% if enable_self_signed_certs %}
#######################################################
# enable-tls.yaml
#   - Enable tls on overcloud public endpoints.
#######################################################
ENVIRONMENT_ARGS="${ENVIRONMENT_ARGS} -e /home/stack/templates/enable-tls.yaml"
ENVIRONMENT_ARGS="${ENVIRONMENT_ARGS} -e /usr/share/openstack-tripleo-heat-templates/environments/ssl/tls-endpoints-public-dns.yaml"
{% endif %}

{% if enable_octavia %}
#######################################################
# octavia.yaml
#   - Enable octavia load balancers
#######################################################
ENVIRONMENT_ARGS="${ENVIRONMENT_ARGS} -e /home/stack/templates/octavia.yaml"
{% endif %}



{% if enable_ceph %}
#######################################################
# ceph-ansible.yaml
#   - Enable Ceph
#######################################################
ENVIRONMENT_ARGS="${ENVIRONMENT_ARGS} -e /home/stack/templates/ceph-ansible.yaml"


#######################################################
# Enable ceph rados gw to act as object storage
#######################################################
ENVIRONMENT_ARGS="${ENVIRONMENT_ARGS} -e /usr/share/openstack-tripleo-heat-templates/environments/ceph-ansible/ceph-rgw.yaml"

{% if enable_manila %}
#######################################################
# Enable ceph mds if manila is anbled
#######################################################
ENVIRONMENT_ARGS="${ENVIRONMENT_ARGS} -e /usr/share/openstack-tripleo-heat-templates/environments/ceph-ansible/ceph-mds.yaml"
{% endif %}

#######################################################
# ceph-config.yaml
#   - Configure ceph-ansible cluster
#   - Last of the ceph files  to override defaults
#######################################################
ENVIRONMENT_ARGS="${ENVIRONMENT_ARGS} -e /home/stack/templates/ceph-config.yaml"
{% endif %}


#######################################################
# manila.yaml
#  - enable manila services.
#######################################################
ENVIRONMENT_ARGS="${ENVIRONMENT_ARGS} -e /usr/share/openstack-tripleo-heat-templates/environments/manila-cephfsganesha-config.yaml"

#######################################################
# Export the end results
#######################################################
export ENVIRONMENT_ARGS
