---
- block:
#  - name: redeployment of directoryvm
#    shell: |
#      ssh dci@192.168.122.1 'rollback.sh -y -n directorvm'

  - name: Add undercloud to inventory
    add_host:
      name: "undercloud"
      ansible_fqdn: "{{ '{{' }} undercloud_ip {{ '}}' }}"
      ansible_user: "stack"
      ansible_host: "{{ '{{' }} undercloud_ip {{ '}}' }}"

  - name: Test the connectivity to the undercloud
    ping:
    delegate_to: undercloud
    

  - name: Set up host to use local repo
    copy:
      src: /var/www/html/dci_repo/dci_repo.repo
      dest: /etc/yum.repos.d/dci.repo
    delegate_to: "undercloud"
    become: True

  - name: configure the undercloud host and start the undercloud
    shell: |
      ansible-playbook undercloud.yaml {{ extra_vars_files }}
    args:
      chdir: '{{ dci_automation_repo_full }}' 

  - name: Overcloud deployment
    shell: |
      ansible-playbook overcloud.yaml {{ extra_vars_files }}
    args:
      chdir: '{{ dci_automation_repo_full }}' 

