---
- block:
  - name: Add undercloud to inventory
    add_host:
      name: "undercloud"
      ansible_fqdn: "{{ '{{' }} undercloud_ip {{ '}}' }}"
      ansible_user: "stack"
      ansible_host: "{{ '{{' }} undercloud_ip {{ '}}' }}"

  - name: unregister the directorvm
    shell: |
      subscription-manager remove --all
      subscription-manager unregister
      subscription-manager clean
    delegate_to: "undercloud" 
    become: True

  - name: unregister the overcloud nodes
    shell: |
      . /home/stack/stackrc
      ANSIBLE_HOST_KEY_CHECKING=False ansible-playbook -i /usr/bin/tripleo-ansible-inventory /home/stack/playbooks/unregister_overcloud.yml
    delegate_to: "undercloud" 
    become: True

  - name: rollback of directorvm
    shell: |
      ssh -t -t -o StrictHostKeyChecking=no dci@192.168.122.1 sudo /usr/bin/virsh snapshot-revert directorvm.$(hostname -d) directorvm_revert_snap

  - name: Wait for connectivity
    wait_for_connection: 
      delay: 10
      timeout: 300
    delegate_to: undercloud

  - name: Set up host to use local repo
    copy:
      src: /var/www/html/dci_repo/dci_repo.repo
      dest: /etc/yum.repos.d/dci.repo
    delegate_to: "undercloud"
    become: True

  - name: configure the undercloud host and start the undercloud
    shell: |
      stdbuf -i0 -e0 -o0 ansible-playbook undercloud.yaml -i inventory/lab.yml {{ extra_vars_files }} | tee undercloud-play.log
    args:
      chdir: '{{ dci_automation_repo_full }}' 

  - name: Overcloud deployment
    shell: |
      stdbuf -i0 -e0 -o0 ansible-playbook overcloud.yaml -i inventory/lab.yml {{ extra_vars_files }} | tee overcloud-play.log
    args:
      chdir: '{{ dci_automation_repo_full }}' 

